.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
}

#grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#grid-item-2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#grid-item-4 {
  grid-column-start: 2;
  grid-column-end: 4;
}
